body {

}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 5px;
    border-style: solid;
}

h1, h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.bodytext {
    color: #777777;
    font-family: Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

section {
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 5px;
    border-style: solid;
}

footer {
    background-color: #666666;

}