body {

}

header {
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-width: 5px;
    border-style: solid;
    height: 60px;
}

h1 {
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    position: relative;
    top: 0;
    left: 10%;
    background-color:#4aaaa5;
    width: 200px;
    text-align: center;
    height: 100%;
    vertical-align: 50%;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

.tabs {
    background color #ffffff;
    color: #777777;
    position: absolute;
    top: 0;
    right: 10%;
}

.links {
    width: 100px;
    padding: 20px;
}

#contact { 
    float: right;
}

#portfolio {
    float: right;
}

#about {
    float: right;
}

.bodytext {
    color: #777777;
    font-family: Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

section {
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 10px;
    border-style: solid;
    height: 960px;

}

footer {
    height: 50px;
    background-color: #666666;
    border-top: 5px;
    border-top-color: #4aaaa5;
    border-style: solid;
}

#copyright {
    color: #ffffff;
    text-align: center;
    padding: 20px;
}